In [1]:
import pandas as pd

In [6]:
fruit = pd.DataFrame({'Apples': [35,41], 'Bananas': [21,34]}, index=['2017 Sales', '2018 Sales'])

In [7]:
fruit

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [12]:
dinner = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index=['Flour','Milk','Eggs','Spam'], name='Dinner')

In [13]:
dinner

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [14]:
q6_df = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
q6_df

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [15]:
q6_df.to_csv('data/cows_and_goats.csv')